@import "_mixin.scss";
.header {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // Position is set to relative so that we can
  // place the popup nav component
  position: relative;

  color: $white;
  min-height: 538px;
  &-nav {
    // position: relative;
    padding: 0 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.75rem;
  }

  // Styling for the Nav
  &-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      margin-right: 2.9375rem;
      font-size: 18px;
      font-family: "Barlow", sans-serif;
    }

    > button {
      padding: 1rem 2rem;
      font-size: 15px;
      font-family: "Fraunces", serif;
      border: 0;
      border-radius: 25.2px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;
      }
    }
  }

  &-title {
    width: 90%;
    margin: 0 auto;
    h1 {
      font-family: "Fraunces", serif;
      font-weight: 900;
      text-align: center;
      font-size: 40px;
      letter-spacing: 6.25px;
    }
  }

  &-arrow {
    margin-top: 3.25rem;
  }

  // Styling for the speech box tail
  &-popup-nav::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 300px;
    right: 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-right: 7px solid #fff;
    border-left: 7px solid transparent;
  }
  &-popup-nav {
    // Variables used for the calculation of the width of
    // popup navbar.
    position: relative;
    $x: 100%;
    $y: 3rem;
    min-height: 300px;
    position: absolute;
    background-color: $white;

    // Calculate the width of the popup nav
    width: calc(#{$x} - #{$y});
    left: 1.5rem;
    right: 1.5rem;
    top: 5.125rem;
    text-align: center;
    .item {
      margin: 2rem 0;
      > a {
        color: $dark-grayish-blue;
        font-size: 20px;
        font-family: "Barlow", sans-serif;
      }
    }

    button {
      background-color: #fbd600;
      color: #24303e;
      border: 0;
      height: 56px;
      border-radius: 28px;
      width: 156px;
      font-family: "Fraunces", serif;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

// Media queries.
// For view port 330px and down
@include breakpoint-down(small) {
  .header {
    &-title {
      > h1 {
        font-size: 32px;
      }
    }
  }
}
// Below the medium view port width
// make the links disappear for mobile
// view.
@include breakpoint-down(medium) {
  .header {
    &-links {
      display: none;
    }
  }
}

// For the tab view change the background image
// to desktop and set the min-heigth to 800px.
@include breakpoint-up(medium) {
  .header {
    background-image: url(../images/desktop/image-header.jpg);
    min-height: 800px;

    &-nav {
      padding-bottom: 6.5625rem;
    }
  }
}

// For the view port greater than the large
// hide the hamberger menu for the dektop view.
// Also increase the title size to 56px
@include breakpoint-up(large) {
  .header {
    background-image: url(../images/desktop/image-header.jpg);
    min-height: 800px;
    .hamburger-icon {
      display: none;
    }

    &-nav {
      padding: 0 2.75rem;
      padding-top: 2.25rem;
      padding-bottom: 6.5625rem;
    }

    &-title {
      h1 {
        font-size: 56px;
        margin-bottom: 6rem;
      }
    }

    &-popup-nav {
      display: none;
    }
  }
}
