.lower-main {
  .section {
    .col {
      > img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

// Media queries
// For view port 600px and above
@include breakpoint-up(medium) {
  .lower-main {
    display: flex;
    flex-direction: row;
  }
}

@include breakpoint-up(x-large) {
  .lower-main {
    .section {
      .image-1 {
        content: url(../images/desktop/image-gallery-milkbottles.jpg);
      }
      .image-2 {
        content: url(../images/desktop/image-gallery-orange.jpg);
      }
      .image-3 {
        content: url(../images/desktop/image-gallery-cone.jpg);
      }
      .image-4 {
        content: url(../images/desktop/image-gallery-sugarcubes.jpg);
      }
    }
  }
}
