.testimonial {
  margin: 4rem 1.5rem;

  .section1 {
    margin-bottom: 4rem;
    > h1 {
      text-align: center;
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-size: 16px;
      letter-spacing: 5px;
      color: $grayish-blue;
    }
  }

  .section2 {
    .col {
      max-width: 327px;
      > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-bottom: 2rem;
      }

      > p {
        text-align: center;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: hsla(213, 9%, 39%, 1);
        margin-bottom: 2rem;
      }

      .designation {
        margin-bottom: 4rem;
        > h1 {
          font-family: "Fraunces", serif;
          font-weight: 900;
          color: hsla(212, 27%, 19%, 1);
          margin-bottom: 0.5625rem;
        }
        > p {
          text-align: center;
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: hsla(210, 4%, 67%, 1);
        }
      }
    }
  }
}

// Media Queries for different view port sizes

// For view ports 840px and greater
@include breakpoint-up(medium) {
  .testimonial {
    margin-top: 7.5rem;
    .section1 {
      margin-bottom: 7.5rem;
      > h1 {
        font-size: 20px;
      }
    }

    .section2 {
      .col {
        margin-bottom: 2rem;
      }
    }
  }
}

// For view port 1300px and above
@include breakpoint-up(x-large) {
  .testimonial {
    margin: 10rem 10.3125rem;
    .section2 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
